.footer {
  padding: 30px 40px;
  background-color: #006170;
  box-shadow: 0px 3px 34px -8px rgba(0, 97, 112, 1);
}

.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__logo {
  width: 70px;
  height: 70px;
  background-color: #006170;
  border-radius: 50%;
  border: 1px solid #FFF;
  padding: 10px;
}

.footer__link a {
  text-decoration: none;
  color: #FFF;
}

.footer ul {
  list-style: none;
}

.footer__link {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s;
}

.footer__link i {
  color: #FFF;
}

.footer__link:hover {
  transform: translateX(3px);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__link--icon:hover {
  transform: translateY(-3px);
}

.footer__copyright {
  text-align: center;
  color: #FFF;
  margin-top: 20px;
}

@media screen and (width <= 720px) {
  .footer__container {
    flex-direction: column;
    gap: 40px;
  }
}