.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  z-index: 10;
}

.header--fill {
  background-color: #006170;
  box-shadow: 0px 3px 34px -8px rgba(0, 97, 112, 1);
}

.header__brand {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__brand img {
  width: 2.75rem;
  height: 2.75rem;
  background-color: #006170;
  border-radius: 50%;
  border: 1px solid #FFF;
  padding: 10px;
}

.header__brand h1 {
  color: #FFF;
  font-weight: 700;
  font-size: 26px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.header__menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.header__link {
  text-decoration: none;
  color: #FFF;
  font-weight: 700;
  font-size: 18px;
  transition: 0.3s;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.header__link:hover {
  border-bottom: 1px solid #FFF;
}

.header__link--button {
  padding: 10px 15px;
  border: 1px solid #FFF;
  border-radius: 8rem;
  transition: 0.3s;
}

.header__link--button:hover {
  background-color: #ffffff55;
}

.header__icon {
  cursor: pointer;
  color: #FFF;
  display: none;
}

.header__icon--close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.header__nav--visible {
  right: 0 !important;
}

@media screen and (width <= 720px) {
  .header {
    padding: 15px 25px;
  }

  .header__nav {
    position: absolute;
    top: 0;
    right: -100%;
    height: 100vh;
    padding: 50px;
    background-color: #006170;
    box-shadow: 0px 3px 34px -8px rgba(0, 97, 112, 1);
    width: 80%;
    transition: right 0.3s;
  }

  .header__menu {
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
  }

  .header__brand h1 {
    font-size: 20px;
  }

  .header__brand img {
    width: 1.75rem;
    height: 1.75rem;
  }

  .header__link {
    font-size: 20px;
  }

  .header__icon {
    display: block;
  }
}