.login__container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__form {
    padding: 30px;
    backdrop-filter: blur(20px);
    border: 2px solid #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}

.login__form fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login__input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login__input label {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.login__input input {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.login__button {
    border: none;
    outline: none;
    padding: 10px 15px;
    background-color: #006170;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
}

.login__title {
    font-size: 40px;
    color: #fff;
    text-align: center;
}

@media screen and (width <= 1000px) {
    .login__form {
        width: 70%;
    }
}

@media screen and (width <= 600px) {
    .login__form {
        width: 95%;
    }
}